*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container{
    width: 100%;
    height: 100vh;
    background: linear-gradient(45deg, #3D0C11, #D80032, #F78CA2);
    display: flex;
    justify-content: center;
    align-items: center;
}
.text-box{
    width: 85%;
    background-color: white;
    text-align: center;
    padding: 20px;
    margin: 0 auto;
    border-radius: 5px;
    box-shadow: 50px 50px 50px;
}
.text-box p{
    font-size: 20px;
    padding: 20px 0;
    margin: 50p;
    text-align: center;
}
.text-box .btn{
    width: 75%;
    padding: 6px 0;
    margin: 10px;
    font-size: 28px;
}
.text-box h1{
    font-weight: 900;
    font-size: 40px;
    margin-top: 10px;
}
.text-box h1,p,.btn{
    color: rgb(37, 8, 132);
}
